@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Sedgwick+Ave&display=swap');

.rsvp-area {
    background: linear-gradient(rgba(100, 158, 147, 0.50), rgba(100, 158, 147, 0.50)), transparent url(../../images/guest/backgroundWelcomeArea.png) center center/cover no-repeat fixed;
    padding: 100px 0;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}
.rsvp-wrap {
    background: linear-gradient( #ED7B84 ,#9055FF);
    padding: 70px;
}
.rsvp-wrap .section-title h2{
    margin-bottom: 0;
    padding-bottom: 0px;
}
.rsvp-wrap .section-title h2:before{
   display: none;
}
.rsvp-wrap .section-title{
    margin-bottom: 30px;
}
.contact-form input {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    padding-left: 10px;
    background: #fff;
    opacity: 1;
    border: none;
    border-radius: 5px;
}
.section-title h1{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}
.form-control {
    margin-top: 20px;
    font-size: 16px;
    background: #fff;
}
select.form-control:not([size]):not([multiple]) {
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    -webkit-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    -moz-appearance: none;
    background:#fff url(../../images/select-icon.png) no-repeat calc(100% - 15px) center;
    position: relative;
    border: none;
}
.contact-textarea {
    width: 100%;
    height: 170px;
    margin-top: 20px;
    padding-left: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 5px;
}
.contact-form p{
    color: red;
    font-size: 14px;
}
.section-title p {
    padding-top: 10px;
    color:#5a5858;
}
.contact-form button{
    position: relative;
    display: inline-block;
    padding: 0px 30px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    transition: 1s;
    overflow: hidden;
    border-radius:20px;
     border: 2px solid #000000;
     border-color: #fff;
     background: linear-gradient( #ED7B84 ,#9055FF);
}
.rsvp-wrap h2, .rsvp-wrap p{
    color: #fff;
}
.contact-form button:hover{
    padding: 0 40px;
    transition: 0.5s;
}
.contact-form button span{
    position: absolute;
    display: block;
}
.contact-form button span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: linear-gradient(90deg,transparent,#fff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.contact-form button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg,transparent,#fff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.contact-form button span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    background: linear-gradient(270deg,transparent,#fff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.contact-form button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(360deg,transparent,#fff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
.guest-2 button#submit {
    background: #9a8c40;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #666;
    font-size: 14px;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #666;
    font-size: 14px;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #666;
    font-size: 14px;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #666;
    font-size: 14px;
}